{%extends 'main.html'%}{%block content%} {% load static %}

<body class="  pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="app side-nav-dark header-dark rtl">
        <div class="layout">
            <!-- Side Nav START -->
            {%include 'sidebar.html'%}
            <!-- Side Nav END -->
            <!-- Page Container START -->
            <div class="page-container">
                <!-- Header START -->
                {%include 'header.html'%}
                <!-- Header END -->
                <!-- Content Wrapper START -->
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="social">
                                    <div class="container-fluid">
                                        <div class="social-cover card" style="border: none">
                                            <div id="GGGIndex" lass="cover-img overlay-dark bg" style="background-image: url( '{%static 'images/GGGIndex.png'%}') ">
                                                <div class="cover-content ">
                                                    <div class="text-center border bottom border-hide-sm pdd-horizon-30 pdd-btm-10 ">
                                                        <h1 class="no-mrg-btm " style="font-weight:bold ">شرکت گیگ ممتاز کهکشان</h1>
                                                        <p>موتور پردازش متن ایرانی</p>
                                                    </div>
                                                    <div class="row mrg-top-15 ">
                                                        <div class="col-md-6 border right border-hide-sm ">
                                                            <div class="text-center ">
                                                                <h3 class="no-mrg ">3</h3>
                                                                <span>زبان</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 ">
                                                            <div class="pdd-horizon-15 ">
                                                                <div class="text-center ">
                                                                    <h3 class="no-mrg ">123</h3>
                                                                    <span>متن پردازش شده</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 " style="direction:rtl ">
                                    <div class="card ">
                                        <div class="card-block ">
                                            <div class="row ">
                                                <div class="col-md-12 ">

                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="card card-body">
                                                                <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
                                                                <hr>
                                                                <h3 style="text-align: center">Account Settings</h3>
                                                                <hr>
                                                                <img class="profile-pic" src="{{request.user.customer.profile_pic.url}}">

                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="card card-body">

                                                                <form method="POST" action="" enctype="multipart/form-data">
                                                                    {% csrf_token %} {{form.as_p}}

                                                                    <input class="btn btn-primary" type="submit" name="Update Information">
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 ">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content Wrapper END -->

                    <!-- Footer START -->
                    {%include 'footer.html'%}
                    <!-- Footer END -->

                </div>
                <!-- Page Container END -->

            </div>
        </div>


        <div class="jvectormap-label " style="display: none; left: 820px; top: 363px; ">Georgia</div>

</body>
<style>
    .profile-pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>
{%endblock%}