{%load static%}
<footer class="content-footer">
    <div class="footer" style="text-align: left">
        <div class="copyright">
            <span>Copyright © 2021 <b class="text-dark">GoodGalaxy</b>. All rights reserved.</span>
            <span class="go-right" style="text-align:right !important;direction:rtl !important">
                <a href="" class="text-gray mrg-right-15"></a>
                
            </span>
        </div>
    </div>
</footer>
<script src="{% static 'js/vendor.js'%} "></script>
<!-- page plugins js -->
<script src="{% static 'js/jquery-jvectormap-1.2.2.min.js'%} "></script>
<script src="{% static 'js/jquery-jvectormap-us-aea.js'%} "></script>
<script src="{% static 'js/d3.min.js'%} "></script>
<script src="{% static 'js/nv.d3.min.js'%} "></script>
<script src="{% static 'js/index.js'%} "></script>
<script src="{% static 'js/Chart.min.js'%} "></script>
<script src="{% static 'js/app.min.js'%} "></script>
<!-- page js -->
<script src="{% static 'js/dashboard.js'%} "></script>