{% load static %}
<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <a href="index.html">
                <div class="logo logo-white">
                    <img src="{%static 'images/GGGLogo.png'%}" alt="" style="width:80%;height:auto;margin:15%"></div>
            </a>
            <div class="mobile-toggle side-nav-toggle">
                <a href="">
                    <i class="fas fa-arrow-circle-left"></i>
                </a>
            </div>
        </div>
        <ul class="side-nav-menu scrollable ps-container ps-theme-default" data-ps-id="6b815431-507b-06a4-9c81-10f56bf2dbf1">
            <li class="nav-item active">
                <a class="mrg-top-30" href="{%url 'home'%}">
                    <span class="icon-holder">
                            <i class="fas fa-home"></i>
                        </span>
                    <span class="title">پنل کاربری</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                            <i class="far fa-chart-bar"></i>
                        </span>
                    <div style="direction: rtl">
                        <span class="title">گزارش ها <i class="fas fa-chevron-down" style="margin-right:5%"></i></span>

                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">لورم ایپسوم</a>
                    </li>
                    <li>
                        <a href="">لورم ایپسوم</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                                <i class="fas fa-toolbox"></i>
                            </span>
                    <div style="direction: rtl">
                        <span class="title">لورم ایپسوم <i class="fas fa-chevron-down" style="margin-right:5%"></i></span>

                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">لورم ایپسوم</a>
                    </li>
                    <li>
                        <a href="">لورم ایپسوم</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                            <i class="fab fa-readme"></i>
                                </span>
                    <div style="direction: rtl">
                        <span class="title">قوانین و مقررات</span>

                    </div>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                            <i class="far fa-id-badge"></i>
                                    </span>
                    <div style="direction: rtl">
                        <span class="title">درباره ما</i></span>

                    </div>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                            <i class="fas fa-phone"></i>
                                        </span>
                    <div style="direction: rtl">
                        <span class="title">تماس با ما </span>

                    </div>
                </a>

            </li>
            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </ul>
    </div>
</div>